
body {
   text-align:center;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: white;
    background-image: url("world.jpg");
}

#result
{
    text-align:center;
    font-family: Georgia, "Times New Roman",
        Times, serif;
  color: White;
}